/* -----------------------------------------------------------------------------

  CHANNELS
  
----------------------------------------------------------------------------- */

/* channels view */

.channels {
  border: solid 4px rgb(0, 0, 0);
}

/* channel view */

.channel {
  height: 92px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.channel:last-child {
  border-bottom: 0;
}

/* channel sample view */

.channel__sample {
  width: 280px;
  height: 100%;
  background-color: #fff;
  font-size: 12px;
  border-radius: 4px;
}

.channel__details {
  list-style: none;
  margin: 0;
  padding: 0;
}