/* -----------------------------------------------------------------------------

  CHANNELS
  
----------------------------------------------------------------------------- */

/* channels view */

.channels {
  border: solid 4px rgb(0, 0, 0);
}

/* channel view */

.channel {
  height: 92px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.channel:last-child {
  display: flex;
  border-bottom: 0;
}

.channel__info {
  flex: 0 0 32px;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.channel__info-item {
  display: block;
  height: calc(92px/3);
  background-color: $color--neutral-dark;
  color: #fff;
  line-height: calc(92px/3);
  text-align: center;
  border-bottom: solid 1px #000;
  border-right: solid 1px #000;
  cursor: pointer;
}

.channel__info-item:last-child {
  border-bottom: none;
}

.channel__info-item:hover {
  background-color: $color--pink;
}