// -----------------------------------------------------------------------------
//
// FONTS
//
// -----------------------------------------------------------------------------

$font-family--primary: "Montserrat", Helvetica, sans-serif;






// -----------------------------------------------------------------------------
//
// COLORS
//
// -----------------------------------------------------------------------------

$color--neutral-xdark: rgb(29, 29, 29);
$color--neutral-dark: rgb(59, 59, 59);
$color--neutral-mid: rgb(89, 89, 89);
$color--neutral: rgb(129, 129, 129);
$color--neutral-light: rgb(179, 179, 179);
$color--neutral-xlight: rgb(229, 229, 229);
$color--neutral-xxlight: rgb(244, 244, 244);

$color--pink: rgb(255, 50, 100);