/* -----------------------------------------------------------------------------

  ROOT ELEMENTS
  
----------------------------------------------------------------------------- */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: $color--neutral;
  background-color: $color--neutral-xdark;
  font-family: $font-family--primary;
  font-size: 12px;
  line-height: 1.5;
  border-top: solid 12px #000;
}